---
import ContactCard from "./ContactCard.astro";
import EducationCard from "./EducationCard.astro";
import WorkCard from "./WorkCard.astro";
import ProgrammingCard from "./ProgrammingCard.astro";
import SoftSkillsCard from "./SoftSkillsCard.astro";
---

<div class="flex flex-col gap-8">
  <ContactCard />
  <EducationCard />
</div>

<div class="flex flex-col gap-8">
  <WorkCard />
  <ProgrammingCard />
  <SoftSkillsCard />
</div>