---
---

<ul class="text-white mb-8 max-w-[250px]">
  <li class="font-bold text-lg">Bachelor of Science Program in Computer Science</li>
  <li>King Mongkut's Institute of Technology Ladkrabang</li>
  <li>2019 - 2022</li>
</ul>

<ul class="text-white mb-8 max-w-[250px]">
  <li class="font-bold text-lg">High School</li>
  <li>Nawaminthrachinuthit Triamudomsuksanomklao School</li>
  <li>2015 - 2017</li>
</ul>