---
import TopicCard from "./TopicCard.astro";
---

<div class="max-w-[360px] py-16 px-8 text-black-1 bg-cream-2 rounded-tr-[30px] rounded-bl-[30px]">
  <TopicCard title='Education'/>

  <ul class="mb-8">
    <li class="font-bold text-lg">2019 - 2022</li>
    <li>Bachelor of Science Program in Computer Science</li>
    <li>King Mongkut's Institute of Technology Ladkrabang</li>
  </ul>
  
  <ul>
    <li class="font-bold text-lg">2015 - 2017</li>
    <li>High School</li>
    <li>Nawaminthrachinuthit Triamudomsuksanomklao School</li>
  </ul>
</div>