---
---

<div class="w-[360px] py-16 px-8 text-black-1 bg-orange-1 rounded-tr-[30px] rounded-bl-[30px]">
  <div class="text-2xl font-bold relative z-0 w-max mx-auto mb-8 text-center shadow-2xl before:content-[''] before:bg-cream-4 before:h-[8px] before:absolute before:-z-[1] before:bottom-[2px] before:w-full before:mx-auto before:flex">
    <h2>Programming <br> Languages</h2>
  </div>

  <ul class="list-disc ml-4 w-max">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
  </ul>
</div>