---
import TopicCard from "./TopicCard.astro";
---

<div class="max-w-[360px] py-16 px-8 text-black-1 bg-orange-1 rounded-tr-[30px] rounded-bl-[30px]">
  <TopicCard title='Programming Languages'/>

  <ul class="list-disc ml-4 w-max">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
  </ul>
</div>