---
---

<h3 class="font-bold text-lg mb-4">Graduation project | 2021 - 2022</h3>
<h4 class="font-bold mb-4">The system analyzes the advert position on the web page</h4>
<p class="mb-4 max-w-[440px]">It is a project with 2 teammates, I am responsible for the frontend and participate in UI design by making a project in the form of a web application named <a href="https://anapos.netlify.app/" class="underline hover:text-gray-3">Anapos</a></p>
<ul class="list-disc mb-8 ml-8 max-w-[440px]">
  <li class="mb-2">Design the Anapos website UI using Figma and develop the front-end website using React.js</li>
  <li class="mb-2">Use the fetch API to retrieve the data displayed in the graph</li>
  <li class="mb-2">Create a chart using Chart.js</li>
</ul>