---
---

<ul class="text-white mb-8">
  <li>HTML</li>
  <li>CSS / Tailwindcss</li>
  <li>JavaScript</li>
  <li>Vite.js / Astro.js</li>
  <li>Git</li>
</ul>

<ul class="text-white mb-8">
  <li class="font-bold text-lg">Tools</li>
  <li>Visual Studio Code</li>
  <li>Figma</li>
  <li>Terminal</li>
</ul>

<ul class="text-white">
  <li class="font-bold text-lg">Soft Skill</li>
  <li>Relationship building</li>
  <li>Curiosity</li>
  <li>Adapability</li>
</ul>