---
import TopicCard from "./TopicCard.astro";
---

<div class="max-w-[360px] py-16 px-8 text-black-1 bg-brown-1 rounded-tr-[30px] rounded-bl-[30px]">
  <TopicCard title='Soft Skill'/>

  <ul class="list-disc ml-4 w-max">
    <li>Relationship building</li>
    <li>Curiosity</li>
    <li>Adapability</li>
  </ul>
</div>