---
---

<div class="max-w-[360px] py-16 px-8 text-black-1 bg-cream-3 rounded-tr-[30px] rounded-bl-[30px]">
  <div class="text-2xl font-bold relative z-0 w-max mx-auto mb-8 text-center before:content-[''] before:bg-green-3 before:h-[8px] before:absolute before:-z-[1] before:bottom-[2px] before:w-full before:mx-auto before:flex">
    <h2>Work Experience</h2>
  </div>

  <ul class="list-disc ml-4 w-max">
    <li class="underline hover:text-white-1"><a href="https://anapos.netlify.app/">Anapos</a></li>
    <li class="underline hover:text-white-1"><a href="https://medicalife-res.netlify.app/">Medica Life</a></li>
    <li class="underline hover:text-white-1"><a href="https://modernprofile.netlify.app/">Modern Profile</a></li>
    <li class="underline hover:text-white-1"><a href="https://loruki-website-op.netlify.app/"></a>Loruki-website</li>
    <li class="underline hover:text-white-1"><a href="https://tour-and-travel-op.netlify.app/">Tour and travel</a></li>
    <li class="underline hover:text-white-1"><a href="https://dazzling-banoffee-461fdc.netlify.app/">Horo12Luck</a></li>
  </ul>
</div>