---
---

<div class="text-gray-2 border-b border-gray-4 mb-8 max-w-[812px]">
  <h3 class="font-bold text-lg mb-4">Hello Spec co.,ltd. | Aug 2023 - present</h3>
  <p class="mb-4 max-w-[440px]">Work as a software engineer who responsible for Frontend part in a team of 3 people. I contribute in a web application project called Horo12Luck. We use Github for a main repository and Github project to manage issues and PR.</p>
  <ul class="list-disc mb-8 ml-8 max-w-[440px]">
    <li class="mb-2">Develope demo responsive web, Medica Life, using Vite.js, SCSS and JavaScript</li>
    <li class="mb-2">Design and develop UI of <a class="mb-2 underline hover:text-gray-3" href="https://dazzling-banoffee-461fdc.netlify.app/">Horo12Luck landing page</a> using figma and use Vite.js and tailwindcss to develop frontend</li>
    <li class="mb-2">Use fetch API to get horoscope content from CMS server</li>
    <li class="mb-2">Develop the Horo12Luck web application in the frontend using Astro.js</li>
    <li>
      Develope demo website during training
      <ul class="list-disc ml-8 mt-2">
        <li class="mb-2 underline hover:text-gray-3"><a href="https://medicalife-res.netlify.app/">Medica Life</a></li>
        <li class="mb-2 underline hover:text-gray-3"><a href="https://loruki-website-op.netlify.app/">Loruki-website</a></li>
        <li class="mb-2 underline hover:text-gray-3"><a href="https://tour-and-travel-op.netlify.app/">Tour and Travel</a></li>
        <li class="mb-2 underline hover:text-gray-3"><a href="https://modernprofile.netlify.app/">My modern profile</a></li>
      </ul>
    </li>
  </ul>
</div>
<h3 class="font-bold text-lg mb-4">Graduation project | 2022 - 2023</h3>
<h4 class="font-bold mb-4">The system analyzes the advert position on the web page</h4>
<p class="mb-4 max-w-[440px]">It is a project with 2 teammates, I am responsible for the frontend and participate in UI design by making a project in the form of a web application named <a href="https://anapos.netlify.app/" class="underline hover:text-gray-3">Anapos</a></p>
<ul class="list-disc mb-8 ml-8 max-w-[440px]">
  <li class="mb-2">Design the Anapos website UI using Figma and develop the front-end website using React.js</li>
  <li class="mb-2">Use the fetch API to retrieve the data displayed in the graph</li>
  <li class="mb-2">Create a chart using Chart.js</li>
</ul>
