---
import { Image } from 'astro:assets';
import profile2 from '../../images/profile2.jpg'
import EarthTone from '../../layouts/EarthTone.astro'
import EarthToneCard from '../../components/EarthToneCard.astro'
import Toggle from '../../components/Toggle.astro';
---

<EarthTone title="Resume Napatpan">
  <div class="grid grid-cols-[50px_1fr]">
    <div class="bg-green-1"></div>
    <div class="gird mb-20">
      <div class="flex flex-wrap gap-8 mt-20 ml-16 max-w-[768px] pr-4">
        <Image src={profile2} alt="profile image" class="max-w-[270px] h-[400px] object-cover rounded-tl-[30px] rounded-br-[30px] shadow-2xl"/>
        <div class="max-w-[450px] text-gray-5 flex flex-col justify-center">
          <h1 class="text-[40px] text-purple-1 font-bold leading-[3rem] max-w-[200px]">Napatpan Sae-ngow</h1>
          <div class="flex items-center after:content[''] after:bg-green-1 after:h-[16px] after:absolute after:right-0 after:left-[650px] after:mt-[5px]">
            <h3 class="text-2xl font-medium my-4">Software Engineer</h3>
          </div>
          <p class="max-w-[390px]">My name is Napatpan Sae-ngow. I’m studying at King Mongkut's Institute of Technology Ladkrabang. My faculty is Bachelor of Science Program majoring in Computer Science. I'm interested in website design and development. Moreover, I have some experience in designing and building websites but I still want to gain knowledge to develop my skills and improve my skills to become more advance.</p>
        </div>
      </div>

      <div class="flex flex-wrap gap-8 mt-20 ml-16 mb-16 max-w-[768px] pr-4">
        <EarthToneCard />
      </div>

      <div class="pr-4">
        <Toggle />
      </div>
    </div>
  </div>
</EarthTone>